Repository osamhack2021/Web_Handover_Handover, pull requests merged in 2021-10, with the labels that each got.

#99 Feature/backend/#91
  backend/InitDB.js
  backend/app.js
  backend/controllers/groupController.js
  backend/models/Group.js
  backend/routes/api/group.js
  backend/services/groupService.js
Labels: backend

#101 Feature/backend/#100
  backend/app.js
  backend/controllers/cabinetController.js
  backend/controllers/itemController.js
  backend/models/Item.js
  backend/routes/api/cabinet.js
  backend/routes/api/item.js
  backend/services/itemService.js
Labels: backend

#113 Fix: Fix updating Item logic
  backend/services/itemService.js
Labels: backend

#114 Feat: Authority setting for controllers #109
  backend/controllers/userController.js
  backend/routes/api/jwt.js
  backend/services/authService.js
Labels: backend

#116 Feat: 읽기 권한 설정 #109
  backend/services/authService.js
Labels: enhancement, backend

#119 Feature/backend/#112
  backend/app.js
  backend/controllers/fileController.js
  backend/models/Item.js
  backend/package.json
  backend/routes/api/file.js
Labels: backend

#120 Feat: check service number API for sign up #118
  backend/controllers/userController.js
  backend/models/User.js
  backend/routes/index.js
  backend/services/userService.js
Labels: enhancement, backend

#126 Test: Add /api/test route
  backend/app.js
  backend/routes/test.js
Labels: good first issue

#133 Fix: Search Groups with partial path
  backend/models/Group.js
  backend/services/groupService.js
Labels: bug, backend
